@use './mixins' as *;
//全体スタイル
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
padding-top: 60px;
}

img {
  display: block;
  max-width: 100%;
}

@include mq {
  body {
  padding-top: 0;
}
}

.pc {
  display: none;
}

@include mq {
  .sp {
    display: none;
  }

  .pc {
    display: block;
  }
}

