@use './mixins' as *;

// モバイルPCでの表示
@include mq {
  .sp-only {
    display: none;
  }

  .pc-only {
    display: block;
  }
}

//ヘッダー
.header {
  left: 0;
  top: 0px;
  height: 60px;
  width: 100%;
  background: #fff;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;//重なりなくす
}

.header-logo img {
  width: 100%;
}

.header-logo {
  width: 150px;
  margin: 40px  auto ;
}

@include mq {
  .header {
    height: 100vh;
    width: 200px;
    display: flex;
    flex-direction: column;
  }
  @include mq {
    .container {
      margin-left: 200px;
    }
  }
}
/*ハンバーガーメニュー.ナビゲーション*/
/*メニュー中身*/
#gnav-content {
  overflow: auto; //自動的にスクロールバー出してくれる
  display: flex;
  top: 0;
  left: 0;
  //position: absolute;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  //transform: translateX(100%);

  //#gnav-input:checkd~& {
 // display: none;
 // }
}

//@include mq {
 //#gnav-container {
 // transform: none 
 // }
 //}
  
.gnav-site {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  flex-grow: 2;
  text-transform: uppercase; //大文字化
}

.gnav-site ul {
  list-style: none;
  text-align: center;
}

//.gnav-site ul li:last-child {
// margin-bottom: 0;
//}
 
  
.gnav-site ul li {
  margin-bottom: 1em;//メニュー余白
}

 

.gnav-site a {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
  color: var(--text-color);
  text-decoration: none;
  padding-bottom: 3px;
  //font-size: 1rem;  バランス見て決める

}

.gnav-site a::after {
  content: "";
  position: absolute;
  //height: 2px;　バランス見て決める
  width: 100;
  //left: 0;
  bottom: 0;
  background-color: var(--text-color);
  transition: transform .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  //transform: scaleX(0);
  transform-origin: right center;
  }

  .gnav-site a:hover::after {
    transform-origin: left center;
    //transform: scaleX(1);
  }

  //a {
   // color: #fff;
   // font-size: 12px;
   // display: inline-block;
   // text-decoration: none;
   // color: var(--text-color);
   // text-align: center;
   // position: relative;
  //}

  .site-nav-check {
    display: none;
  }
  
.gnav-hidden {
  display: none;
}

//ボタン
#gnav-open {
 width: 50px;
  height: 50px;
  top: 20px;
  right: 16px;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  //z-index: 10;一番最前面に配置
  position: fixed;
  //vertical-align: middle;中央に配置
}

#gnav-open {
  span,
  span::before,
  span::after {
    height: 2px;
    width: 40px;//３本線長さ
    //transition: 5s cubic-bezier(0.645, 0.045, //0.355, 1);
    background-color: var(--text-color);
    cursor: pointer;
   border-radius: 3px;
  }
}

#gnav-open span {
    transform-origin: left center;
    //display: block;
    
    //position: absolute;
  //left: 0;
  //transition: all 0.3s ease-in-out;
  }

#gnav-open {
  span::before,
  span::after {
    content: '';
    position: absolute;
     //left: 5px;
    //top: calc(50% - 1px);
  }
}
  
#gnav-open {
  ::before {
    transform: translateY(-10px);
  }
    ::after {
      transform: translateY(10px);
  }
}

  .gnav-hidden:checked~.gnav-content {
    transform: translateX(0);
  }

  .gnav-hidden:checked~#gnav-open span {
    transform: scaleX(0);
  }

  .gnav-hidden:checked~#gnav-open::before {
    transform: translateY(0) rotate(45deg);
  }

  .gnav-hidden:checked~#gnav-open::after {
    transform: translateY(0) rotate(-45deg);
  }


  //SNS
  .sns {
  display: flex;
   justify-content: center;
  padding: 2rem 0;
     flex-grow: 0;
   }

  .sns a {
   margin: 0 8px;
  }

  .gnav-site {
    position: static;
    width: 80%;
    margin: 0 auto;
    background-color: transparent;
     flex-grow: 1;
     align-items: start;
     justify-content: start;
   }

//メインエリア

.mv-aria {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
 // height: calc(100vh - 60px);
  background: url(../img/mv-bg@2x.jpg) no-repeat center center;
  background-size: cover;
}

.mv-img {
  transform: translateY(-40%);//本の位置
  width: min(80vw, 350px);//本の大きさh
}

  @include mq {
    .mv-aria {
      height: 140vh;
    }
  }

  .mv-img {
    height: 80vh;
    max-height: 700px;
    width: auto;
    transform: translateY(0);
      transform: translateY(-20%);//文字重なる
  }

   .mv-text {
     position: absolute;
     top: 120%;//文字高さ
     left: 35%;
     font-size: 1rem;
     margin: 0 ;
       overflow: hidden;
     transform: translate(-50%, -50%);
     text-align: center;
     
   }
 
   .mv-text {
    line-height: 1;
  }
 
h4 {
  font-size: 1rem;
  display:inline-block;
  margin-bottom: 5px;
  background-color: #fff;
}
  
h3 {
  font-size: max(3.2vw, 2rem);
  margin-bottom: 5px;
  background-color: #fff;
  font-weight: normal;
}

h2 {
  display:inline-block;
  font-size: max(3.2vw, 2rem);
  background-color: #fff;
  font-weight: normal;
}

//バックナンバー
.backnumbers {
  background-color: #f8f8f8;
}

.backnumbers-history {
  padding: 1em 1em;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: normal;
  transform: translateX(60%);
}

.bn-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}